.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap {
    align-items: center !important;
}
.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .loading-text {
    font-size: 15px !important;
}
.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .loading-text {
    padding: .35rem .35rem !important;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner,
.bootstrap-table .fixed-table-container .table td, .bootstrap-table .fixed-table-container .table th {
    font-size: 13px;
}
.bootstrap-table .fixed-table-container .table thead th {
    background-color: #f6f7f9 !important;
}
